<h1 class="text-center">List of commits of <mark>gugudev/commit-history</mark> project on Github<h1>

<div class="list-group">

  <% @repository.commits.each do |commit| %>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= commit.sha %></h5>
        <small><%= l(commit.time_commit, format: :long) %></small>
      </div>
      <p class="mb-1"><%= commit.message %></p>
      <small><%= commit.commiter_name %> - <%= commit.commiter_email %></small>
    </a>

  <% end %>

</div>
