<h1 class="text-center">List of commits of <mark>gugudev/commit-history</mark> project on Github</h1>

<div class="list-group">

  <% @repository.commits.each do |commit| %>

    <a href="<%= commit.link_commit %>" target="_blank" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <small class="mb-1 font-italic"><%= commit.sha %></small>
        <small><%= l(commit.time_commit, format: :long) %></small>
      </div>
      <p class="mb-1 font-weight-bold"><%= commit.message %></p>
      <small><%= commit.commiter_name %> - <%= commit.commiter_email %></small>
    </a>

  <% end %>

</div>
